@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(to bottom, #141862, #140A42, #0A071A);
}

body {
  background: linear-gradient(
    180deg,
    hsl(235, 16%, 14%) 0%,
    hsl(230, 17%, 10%) 100%
  )
  hsl(235, 16%, 14%) 0%;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/noise-3.jpg');
  opacity: 0.3;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  background-image: url('/noise-3.jpg');
  opacity: 0.3;
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
