@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to bottom, transparent, #140a42) #0a071a;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/noise-3.jpg');
  opacity: 0.3;
  pointer-events: none;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  background-image: url('/noise-3.jpg');
  opacity: 0.3;
  pointer-events: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.glitter-bg {
  background: linear-gradient(45deg, #77d1f8, #ff77ff, #7acdf1, #ff7eff);
}

.create-book-popover {
  transform: translateY(-80px);
  opacity: 0;
  transition-property: transform, opacity, display;
  transition-duration: 0.7s;
  transition-behavior: allow-discrete;
}

.create-book-popover:popover-open {
  @starting-style {
    transform: translateY(40px);
    opacity: 0;
  }

  transform: translateY(0);
  opacity: 1;
}

.tag-checkbox {
  display: inline-block;
  transition: background-color 0.3s;
}

.tag-checkbox input[type='checkbox'] {
  display: none;
}

.tag-checkbox input[type='checkbox']:checked + label {
  background-color: #9ca3afff;
  color: #091231ff;
}

.title {
  color: transparent;
  background-image: linear-gradient(#FFFFFF, #FFFFFF);
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: -160px 0;
  animation: backcolor 3s linear infinite alternate;
}

@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}